	<div class="container-fluid aboutMeStyle">
		<div class="row">
			<br class="visible-xs">
			<div >
				<!-- About Me -->
				<div class="container" style="background-color:white;">
					<div class="row">
						<div class="col-md-12 col-sm-12 text-center" style="padding: 30px;" >
							<h3 style="color: rgb(216, 45, 72);">ABOUT ME</h3>
							<h4><b>An Enthusiastic Web Developer With a Passion for Learning.</b></h4>
							<p>A coder and a musician who want to learn more, grow and explore the world.</p>
							<hr>
						</div>	

						<div class="col-md-4 col-sm-4 text-right hidden-xs visible-sm visible-md visible-lg" >
							<img src="/public/images/sarwin.jpg" class="img-thumbnail img-responsive" width="200" />
						</div>	

						<div class="col-md-7 col-sm-7 text-center" ><span class="hidden-xs"><br><br></span>
							<p style="text-align:justify;">A former software developer at Taggs Enterprise Application Manager <b>(TEAM)</b> Global. I was part of the team that developed web application and desktop application for almost two years (1 year and 8 months). I have a working knowledge of <b>OOP (C#.net)</b> and knowledge about the concepts of software design architecture such as <b>MVC and MVVM</b>. Currently working as a <b>freelance web developer</b> using various software such as <b>NodeJS, MongoDB and Angular 4/5<b>. Focused working on the backend.  </p>
							<span class="hidden-xs"><br><br></span><br>
							<a href="#contact-me"><button style="color: #ffffff; background-color: #d82d48; border-color: transparent; padding: 10px;">Hire Me Now</button></a>
							<span class="visible-xs"><br></span>
							<a href="/download"><button style="color: #ffffff; background-color: #2c3e50; border-color: transparent; padding: 10px;">Download my Resume Here <span class="glyphicon glyphicon-chevron-right"></span></button></a>
						</div>	
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>