<!-- Main Div -->
<div style="background-color: #D7DBE0;">
	<!-- About Me -->
	<div class="container" style="background-color: #D7DBE0;">
		<br>
		<div class="panel panel-default col-sm-12" style="padding-left: 0px; padding-right: 0px;">
			<div class="panel-heading text-center" style="padding: 2px; padding-left: 40px;">
				<h3><strong><span class="fa fa-user-circle active">&nbsp;&nbsp;</span>A</strong><span style="font-size: 22px;">BOUT ME</span></h3>
				</div>
				<!-- Panel Body -->
				<div class="panel-body">
					<div class="col-sm-8 text-left">
						<div class="col-sm-12">
							<br>
							<p style="text-align: justify;">&ensp;&ensp;&ensp;&ensp;A Former <strong class="text-primary">Software Developer</strong> at <strong class="text-primary">TEAM</strong>(Taggs Enterprise Application Manager) Global, A company that provide <strong class="text-primary">business solutions</strong> by creating <strong class="text-primary">mobile web applications, desktop application and web application</strong> to clients using various software and platforms such as Alpha Anywhere and Visual Studio. 

								Have two years of experience in the field of software development. Part of the team from initial development, documentation, integration testing and maintenance.</p>
							</div>

							<div class="col-sm-6 col-xs-6">
								<h3><strong>S<span style="font-size: 20px;">PECIALTIES</span></strong></h3>
								<p style="font-size: 17px;"><span class="fa fa-mobile">&nbsp;&nbsp;&nbsp;</span><strong>Mobile</strong> Web Development
									<p style="font-size: 13px;" class="text-primary">Responsive, Modern Web Design</p>
								</p>

								<p style="font-size: 17px;"><span class="fa fa-database">&nbsp;&nbsp;&nbsp;</span><strong>Backend</strong> Development</p>
								<p style="font-size: 13px;" class="text-primary">Secured & Well Maintained Backend</p>
							</p>
						</div>
						<div class="col-sm-6 col-xs-6">
							<h3><strong>H<span style="font-size: 20px;">OBBIES</strong> & INTERESTS</span></h3>
							<p style="font-size: 17px;"><span class="fa fa-music">&nbsp;&nbsp;&nbsp;</span><strong>Music</strong></p>
							<p style="font-size: 13px;" class="text-primary">Progressive, Hardcore, Alternative</p>
						</p>
						<p style="font-size: 17px;"><span class="fa fa-paint-brush">&nbsp;&nbsp;&nbsp;</span><strong>Arts</strong></p>
						<p style="font-size: 13px;" class="text-primary">Modern & Classic</p>
					</p>
					<p style="font-size: 17px;"><span class="fa fa-book">&nbsp;&nbsp;&nbsp;</span><strong>Reading</strong></p>
					<p style="font-size: 13px;" class="text-primary">Books, Magazine, Technological Advancement</p>
				</p>
			</div>
		</div>

		<%- include personal-info.ejs %>
	</div>
</div>