<div class="text-center">
 <% if (message.length > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <% } %>
      <form class="form-horizontal" action='/' method='post'>
      <fieldset>
        <div class="form-group">
          <label for="inputSubject" class="col-lg-2 control-label">Subject:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" required>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="name" class="col-lg-2 control-label">Full Name:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="name" name='name' placeholder="From" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-lg-2 control-label">Message:</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="message" name='message' required></textarea>
          </div>
        </div>
        <br>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" style="color: #ffffff; background-color: #d82d48; border-color: transparent; padding: 10px;">      Reset      </button>
            <button type="submit" style="color: #ffffff; background-color: #2c3e50; border-color: transparent; padding: 10px;">      Submit      </button>
          </div>
        </div>
      </fieldset>
    </form>
</div>