<nav class="navbar navbar-default">
	<div class="container">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-toggle">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand">All about<small>Dapito, Sherwin A.</small></a> 
	</div>

	<div class="collapse navbar-collapse" style="padding-top: 6px;" id="navigation-toggle">
		<ul class="nav navbar-nav navbar-right">
		<li><a href="#Profile">Profile</a></li>
		<li><a href="#">About me</a></li>
		<li><a href="#">Resume</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	</div>
	</div>
</nav>