
<!-- Navigation Bar -->
<nav class="navbar navbar-default" id="nav_bar">
	<div class="container">

		<!-- Navigation Header -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-toggle">
				<span class="sr-only">Toggle navigation</span>
				<div>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>
			</button>
			<a class="navbar-brand">Dapito, Sherwin A.<small>Enthusiastic Web Developer</small></a> 
		</div>
		<!-- /Navigation Header -->

		<!-- Navigation Collapse -->
		<div class="collapse navbar-collapse" style="padding-top: 6px;" id="navigation-toggle">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#Profile">Profile</a></li>
				<li><a href="#About">About me</a></li>
				<li><a href="#Resume">Resume</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#contact-me">Contact</a></li>
			</ul>
		</div>
		<!-- /Navigation Collapse -->
	</div>
</nav>
<!-- /Navigation Bar -->