<div class="col-sm-4 col-xs-12 panel panel-personal-info " style="padding-left: 0px; padding-right: 0px;">
	<div class="panel-heading">
		<h3><strong><span>P</span><span style="font-size: 19px;">ERSONAL</span> </strong> 
			<span style="font-size: 19px">INFO</span>
		</h3>
	</div>
	<!-- Personal Info -->
	<div class="panel-body" style="color: #515557;">
		<p><strong>Name:</strong> Sherwin Ablaña Dapito</p>
		<p><strong>Birthday:</strong> February 8, 1993</p>
		<p><strong>Phone:</strong> (042)-797-0262</p>
		<p><strong>Mobile:</strong> +639-19-294-2997</p>
		<p><strong>Skype:</strong> punetikz@rocketmail.com</p>
		<p><strong>Email:</strong> dapito.sherwin@yahoo.com</p>
		<p><strong>Address:</strong> Tayabas City, Philippines </p>
	</div>
	<!-- /Personal Info -->
	
	<!-- Social Networks -->
	<div class="panel-footer text-center">
		<span class="fa-stack fa-lg">
			<a><i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-twitter fa-stack-1x"></i>
			</a>
		</span>
		<span class="fa-stack fa-lg">
			<a><i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-facebook fa-stack-1x"></i>
			</a>
		</span>
		<span class="fa-stack fa-lg">
			<a><i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-yahoo fa-stack-1x"></i>
			</a>
		</span>
		<span class="fa-stack fa-lg">
			<a><i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-google fa-stack-1x"></i>
			</a>
		</span>
		<span class="fa-stack fa-lg">
			<a><i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-linkedin fa-stack-1x"></i>
			</a>
		</span>
	</div>
	<!-- /Social Networks -->
	<br class="visible-xs">
</div>
