<div class="col-sm-12 col-xs-12 well" a id="Profile" style="background-color: whitesmoke;">
		<blockquote>
			<p>Are you looking for a <strong class="text-info">Software/Web developer</strong> to helped you with your projects? If you are, then you are in the right place. <p> 
				<small style="text-align: justify; color: #4F4F4B;">Hi! I'm a part time <strong class="text-primary">Software/Web Developer</strong class="text-primary"> and a full time <strong class="text-primary">Musician</strong>. I've been developing applications for <strong class="text-primary">two years</strong> now and I am versatile when it comes to learning and using new programming languages and development frameworks. Yep, two years are still short in terms of experience but none the less I can still create a user friendly, fully functioning and beautifully crafted software for you and your company.</small>
			</blockquote>
		</div>
</div>