



<div class="col-md-4 col-sm-4 text-right hidden-xs visible-lg visible-md" style="margin-top: 0px;">
	<div>
		<h3><strong>Personal Information</strong> </h3>
	</div>
	<!-- Personal Info -->
	<div style="color: #515557;">
		<p><strong>Name:</strong> Sherwin Ablaña Dapito</p>
		<p><strong>Birthday:</strong> February 8, 1993</p>
		<p><strong>Phone:</strong> (042)-797-0262</p>
		<p><strong>Mobile:</strong> +639-19-294-2997</p>
		<p><strong>Skype:</strong> punetikz@rocketmail.com</p>
		<p><strong>Email:</strong> dapito.sherwin@yahoo.com</p>
		<p><strong>Address:</strong> Tayabas City, Philippines </p>
	</div>
	<hr>

	<div>
		<h3><strong>Educational Background</strong> </h3>
	</div>
	<!-- Personal Info -->
	<div style="color: #515557;">
		<p> Bachelor of Science in Computer Engineering</p>
		<p> Southern Luzon State University</p>
		<p> Lucban, Quezon, Philippines</p>
	</div>
	<hr>

	<div>
		<h3><strong>Hobbies & Interests</strong> </h3>
	</div>
	<!-- Personal Info -->
	<div style="color: #515557;">
		<p><strong>MUSIC:</strong> Progressive, Hardcore, Alternative, Classic</p>
		<p><strong>Arts:</strong> Modern and Classic Arts</p>
		<p><strong>Reading:</strong>Latest Technological Advancement</p>
	</div>
	<hr>
</div>	

<div class="col-md-4 col-sm-4 text-center visible-xs" style="margin-top: 0px;">
	<div>
		<h3><strong>Personal Information</strong> </h3>
	</div>
	<!-- Personal Info -->
	<div style="color: #515557;">
		<p><strong>Name:</strong> Sherwin Ablaña Dapito</p>
		<p><strong>Birthday:</strong> February 8, 1993</p>
		<p><strong>Phone:</strong> (042)-797-0262</p>
		<p><strong>Mobile:</strong> +639-19-294-2997</p>
		<p><strong>Skype:</strong> punetikz@rocketmail.com</p>
		<p><strong>Email:</strong> dapito.sherwin@yahoo.com</p>
		<p><strong>Address:</strong> Tayabas City, Philippines </p>
	</div>
	<hr>

	<div>
		<h3><strong>Educational Background</strong> </h3>
	</div>
	<!-- Personal Info -->
	<div style="color: #515557;">
		<p> Bachelor of Science in Computer Engineering</p>
		<p> Southern Luzon State University</p>
		<p> Lucban, Quezon, Philippines</p>
	</div>
	<hr>

	<div>
		<h3><strong>Hobbies & Interests</strong> </h3>
	</div>
	<!-- Personal Info -->
	<div style="color: #515557;">
		<p><strong>MUSIC:</strong> Progressive, Hardcore, Alternative, Classic</p>
		<p><strong>Arts:</strong> Modern and Classic Arts</p>
		<p><strong>Reading:</strong>Latest Technological Advancement</p>
	</div>
	<hr>
</div>	

<div class="col-md-8 col-sm-8 text-right" style="margin-top: 0px;">
	<% include timeline.ejs%>
</div>	

