	<div class="container">
		<div class="panel-primary">
			<div class="panel-body">

				
				<div class="col-sm-4">
					<div class="well">
						<div class="text-center">
							<img src="/<%=webTechLogo%>" class="img-circle" alt="Cinque Terre" width="120"> 
						</div>
						<H4 class="text-center"><strong>Web Technologies</strong></H4>
						<div class="progress">
							<div class="progress-bar" style="width: 80%"> HTML </div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 75%"> CSS/Bootstrap </div>
						</div>
						<div class="progress">
							<div class="progress-bar" style="width: 85%"> JavaScript</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 70%"> ASP.Net MVC</div>
						</div>
						<div class="progress">
							<div class="progress-bar" style="width: 80%"> C# </div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well">
						<div class="text-center">
							<img src="/<%=databaseLogo%>" class="img-circle" alt="Cinque Terre" width="120"> 
						</div>
						<H4 class="text-center"><strong>Databases</strong></H4>
						<div class="progress">
							<div class="progress-bar" style="width: 70%"> MSSQL </div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 80%"> MongoDB/Moongose </div>
						</div>
						<div class="progress">
							<div class="progress-bar" style="width: 60%"> Oracle/MySQL</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well">
						<div class="text-center">
							<img src="/<%=FrameworkLogo%>" class="img-circle" alt="Cinque Terre" width="120"> 
						</div>
						<H4 class="text-center"><strong>Frameworks</strong></H4>
						<div class="progress">
							<div class="progress-bar" style="width: 75%"> LINQ </div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 85%"> Visual Studio</div>
						</div>
						<div class="progress">
							<div class="progress-bar" style="width: 75%"> NodeJS</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 70%"> Navicat</div>
						</div>
						<div class="progress">
							<div class="progress-bar" style="width: 70%"> Alpha Anywhere</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
