<style type="text/css">
	

</style>

<div class="container">
	<!-- Timeline -->
	<div class="timeline">

		<!-- Line component -->
		<div class="line text-muted"></div>

		<!-- Separator -->
		<div class="separator">
			<time>January 05 2015 - August 2016</time>
		</div>
		<!-- /Separator -->

		<!-- Panel -->
		<article class="panel panel-primary">

			<!-- Icon -->
			<div class="panel-heading icon">
				<i class="fa fa-id-card-o"></i>
			</div>
			<!-- /Icon -->

			<!-- Heading -->
			<div class="panel-heading">
				<h2 class="panel-title">Taggs Enterprise Application Manager Global</h2>
			</div>
			<!-- /Heading -->

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item">
					<h4> - Part of the team that developed and maintained <i>"Mobile Web"</i> and <i>"Desktop Applications"</i> for clients overseas and locally. </h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small><b>PROJECTS:</b> WorkPro(Work Order Application), ElevatorAppPro(Inventory Application), REAMSLite(Asset Management Software), InstaFare (Mobile Ticketing Application).</small></p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small><b>FRAMEWORK AND TECHNOLOGY USED:</b> Alpha Anywhere(Language: Javascript), Visual Studio(Language: C#.Net with a Third Party Application)</small></p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small><b>DATABASES:</b> Navicat, MSSQL</small></p>
				</li>
			</ul>
			<!-- /List group -->

			<!-- Footer -->
			<div class="panel-footer text-right">
				<h4><i>Software Developer for Mobile and Desktop Applications</i></h4>
			</div>
			<!-- /Footer -->

		</article>
		<!-- /Panel -->

		<!-- Separator -->
		<div class="separator">
			<time>December 2016</time> <span class="badge">current</span>
		</div>
		<!-- /Separator -->

		<!-- Panel -->
		<article class="panel panel-primary">

			<!-- Icon -->
			<div class="panel-heading icon">
				<i class="fa fa-id-card-o"></i>
			</div>
			<!-- /Icon -->

			<!-- Heading -->
			<div class="panel-heading">
				<h2 class="panel-title">KMH WebTech Solutions</h2>
			</div>
			<!-- /Heading -->

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item">
					<h4> - Currently working as a Web Developer using NodeJS for server side application development and Javascript as primary scripting language for creating Web Applications</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small><b>FRAMEWORK AND TECHNOLOGY USED:</b> NodeJS(Server Side), Mongoose/MongoDB(Database)</small></p>
				</li>
			</ul>
			<!-- /List group -->

			<!-- Footer -->
			<div class="panel-footer text-right">
				<h4><i>Web Developer</i></h4>
			</div>
			<!-- /Footer -->

		</article>
		<!-- /Panel -->



	</div>
	<!-- /Timeline -->

</div>
</div>