

<div class="container-fluid">

	<!-- Timeline -->
	<div class="timeline">


		<!-- Line component -->
		<div class="line text-muted"></div>

		<!-- Separator -->
		<div class="separator">
			<time>January 2017 - Present</time>
		</div>
		<!-- /Separator -->

		<!-- Panel -->
		<article class="panel panel-primary">

			<!-- Icon -->
			<div class="panel-heading icon">
				<i class="fa fa-id-card-o"></i>
			</div>
			<!-- /Icon -->

			<!-- Heading -->
			<div class="panel-heading">
				<h2 class="panel-title">Freelance Software/Web Application Developer (Backend)</h2>
			</div>
			<!-- /Heading -->

			<!-- List group -->
			<ul class="list-group text-left">
				<li class="list-group-item">
					<p>Framework and technology using:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>NodeJS(Server Side), Mongoose/MongoDB(Database), EJS, Angular 4/5</p>

				</li>
			</ul>
			<!-- /List group -->

			<!-- Footer -->
			<div class="panel-footer text-right">
				<h4><i>Web Application Developer</i></h4>
			</div>
			<!-- /Footer -->

		</article>
		<!-- /Panel -->


		<!-- Separator -->
		<div class="separator">
			<time>January 2016 - August 2016</time>
		</div>
		<!-- /Separator -->

		<!-- Panel -->
		<article class="panel panel-primary">

			<!-- Icon -->
			<div class="panel-heading icon">
				<i class="fa fa-id-card-o"></i>
			</div>
			<!-- /Icon -->

			<!-- Heading -->
			<div class="panel-heading">
				<h2 class="panel-title">Taggs Enterprise Application Manager Global</h2>
			</div>
			<!-- /Heading -->

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item text-left">
					<h4> Project: Reliability Enterprise Asset Management Software (REAMSLite) </h4><hr>
					<p>Framework and technology used: <br>
						IIS, ASP.Net(Server Side), MSSQL/MySQL(Database), C#.Net Visual WebGui (Third Party Plugin) </p>
					</li>
				</ul>
				<!-- /List group -->

				<!-- Footer -->
				<div class="panel-footer text-right">
					<h4><i>Software Developer for Mobile and Desktop Applications</i></h4>
				</div>
				<!-- /Footer -->

			</article>
			<!-- /Panel -->		</article>
			<!-- /Panel -->


			<!-- Separator -->
			<div class="separator">
				<time>July 2015 - October 2015</time>
			</div>
			<!-- /Separator -->

			<!-- Panel -->
			<article class="panel panel-primary">

				<!-- Icon -->
				<div class="panel-heading icon">
					<i class="fa fa-id-card-o"></i>
				</div>
				<!-- /Icon -->

				<!-- Heading -->
				<div class="panel-heading">
					<h2 class="panel-title">Taggs Enterprise Application Manager Global</h2>
				</div>
				<!-- /Heading -->

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item text-left">
						<h4> Project: Mobile Ticketing Application (Instafare)</h4><hr>
						<p>Framework and technology used: <br>
							IIS, MSSQL/MySQL(Database), Alpha Anywhere (For Front End and Backend) </p>
						</li>
					</ul>
					<!-- /List group -->

					<!-- Footer -->
					<div class="panel-footer text-right">
					<h4><i>Mobile Web Application Developer</i></h4>
					</div>
					<!-- /Footer -->

				</article>
				<!-- /Panel -->
			</div>
			<!-- /Timeline -->

		</div>
	</div>